/*--------------------------------------------------------------
  20. Imagebox
----------------------------------------------------------------*/
.cs_image_box_1_list {
  li {
    &:not(:last-child) {
      border-bottom: 1px solid #42585d;
      padding-bottom: 45px;
      margin-bottom: 45px;
    }
  }
  &.cs_type_1 {
    @media (max-width: 767px) {
      .cs_image_box.cs_style_1 .cs_image_box_info {
        padding-right: 0;
      }
    }
  }
}
.cs_image_box_1_list_more_btn {
  margin-top: 45px;
  padding-top: 100px;
  border-top: 1px solid #42585d;
  @media (max-width: 991px) {
    padding-top: 50px;
  }
}
.cs_image_box.cs_style_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px 125px;
  @media (max-width: 1400px) {
    gap: 20px 80px;
  }
  @media (max-width: 1199px) {
    gap: 20px 50px;
  }
  @media (max-width: 991px) {
    gap: 20px 30px;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
  }
  .cs_image_box_title {
    margin-bottom: 15px;
  }
  .cs_image_box_number {
    width: 60px;
    flex: none;
    @media (max-width: 991px) {
      display: none;
    }
  }
  .cs_image_box_info {
    padding-right: 188px;
    @media (max-width: 1400px) {
      padding-right: 170px;
    }
    @media (max-width: 1199px) {
      padding-right: 130px;
    }
    @media (max-width: 575px) {
      padding-right: 0px;
    }
  }
  .cs_image_box_time {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 11px;
    i {
      display: flex;
    }
  }
  @media (min-width: 768px) {
    .cs_btn.cs_style_1.cs_type_4 {
      position: absolute;
      right: 0;
      top: 40px;
    }
  }
  @media (max-width: 767px) {
    .cs_btn.cs_style_1.cs_type_4 {
      margin-top: 15px;
    }
  }

  .cs_image_box_img {
    flex: none;
    width: 248px;
    height: 214px;
    overflow: hidden;
    border-radius: 50px 0px;
    @media (max-width: 767px) {
      width: 100%;
      height: 300px;
    }
    img {
      transform: scale(1.07);
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all 0.6s ease;
    }
  }
  .cs_image_box_btn {
    height: 80px;
    width: 80px;
    border: 2px solid #fff;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: all 0.4s ease;
    overflow: hidden;
    color: #fff;
    svg {
      transition: all 0.3s;
      &:first-child {
        transform: translate(0, 0);
      }
      &:last-child {
        position: absolute;
        left: -20px;
        bottom: -20px;
      }
    }
    &:hover {
      svg {
        &:last-child {
          position: absolute;
          left: 23px;
          bottom: 23px;
        }
        &:first-child {
          transform: translate(44px, -40px);
        }
      }
    }
    @media (max-width: 575px) {
      position: relative !important;
      transform: scale(0.7);
      margin-top: 10px;
      margin-left: -12px;
    }
  }
  &:hover {
    .cs_image_box_btn {
      border-color: var(--accent);
      color: #fff;
      background-color: var(--accent);
    }
    .cs_image_box_img {
      img {
        transform: scale(1.07) translateX(6px);
      }
    }
  }
}
