/*--------------------------------------------------------------
## All Color Variable
----------------------------------------------------------------*/
:root {
  --white: #fff;
  --black: #000;
  --primary: #18333b;
  --secondary: #67797e;
  --ternary: #88a5ad;
  --accent: #fe5b2c;
  --gray: #f7f7f7;
  --border: #dddddd;
  --primary-font: 'Unna', serif;
  --secondary-font: 'Roboto', sans-serif;
}
